<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Hobbies</title>
    <link rel="stylesheet" href="styles/all_hobbies.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="scripts/all_hobbies.js"></script>
  </head>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/personality_test">Take the test!</a>
      <a href="/all_hobbies">Browse All Hobbies</a>
      <a href="/user_profile" class="profile">Profile</a>
    </div>

    <div class=whitespace>
      <h1>All Hobbies</h1>
      <h4>Click on a hobby to see its description! </h4>
          <div>
              {% for hobby in hobbies|sort(attribute='name') %}
              <div>
                 <li class=hobby><label class='field'>{{hobby.name}}</label>
                   <div class=hobbyDescription> {{hobby.description}}
                       <form action="/personal_hobby" method="post">
                           <input type="hidden" name="name" value="{{hobby.name}}">
                            <input type="submit" id="find" value="Find Out More">
                       </form>
                   </div>
                 </li>
              </div>
              {%endfor%}
          </div>
    </div>
  </body>
</html>
