<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Hobbies</title>
    <link rel="stylesheet" href="styles/all_hobbies.css">
  </head>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/personality_test">Take the test!</a>
      <a href="/all_hobbies">Browse All Hobbies</a>
      <a href="/user_profile" class="profile">Profile</a>
    </div>

    <h1>All Hobbies</h1>
      <form action= "/all_hobbies" method="get">
        <div>
            {% for hobby in hobbies %}
            <div>
               <li><label class='field'>{{hobby.name}}</label></li>    
            </div><br>
            {%endfor%}
        </div>
    </form>
  </body>
</html>
