<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Personality Test</title>
    <link rel="stylesheet" href="styles/form.css">
  </head>
  <body>
    <h1>Personality Test</h1>
    <form action= "/FormHandler" method="get">
      <p>You’re shopping online. Would you:</p>
        <label><input class="C" type="radio" name="answer"> Go through all the products before deciding what to buy</label>
        <label><input class="E" type="radio" name="answer"> Consult a sales representative before buying</label>
        <label><input class="A" type= "radio" name="answer"> Read through reviews before buying</label>
        <label><input class="O" type= "radio" name="answer"> Look for online shopping websites that are less popular</label>
        <label><input class="N" type= "radio" name="answer"> Buy everything that you like</label>

    </form>
      
  </body>
</html>
