<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <title>Hobby</title>
    <link rel="stylesheet" href="styles/hobby.css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  </head>
  <body>

    {% include "nav.html" %}

      <h1 class = 'hobby_name'>{{ name }}</h1>
      <img src = "{{ image }}" class=hobby_image>
      <p class= "description">{{ description }}</p>

      <div class=margin_left><p><strong>Don't know where to start?</strong>
        <br>Put "{{name}}" in the search bar to look for locations where you can start engaging in your hobby.
        <br><em>Note:</em> Zoom in with the plus button in the bottom right corner to view the exact location of the markers.</p></div>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map"></div>
      <script>
          function initAutocomplete() {
            var map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: 33.9698, lng: -118.4185},
              zoom: 10,
              mapTypeId: 'roadmap'
            });
            infoWindow = new google.maps.InfoWindow;

            var input = document.getElementById('pac-input');
            var searchBox = new google.maps.places.SearchBox(input);
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

            map.addListener('bounds_changed', function() {
              searchBox.setBounds(map.getBounds());
            });
            var markers = [];

            searchBox.addListener('places_changed', function() {
              var places = searchBox.getPlaces();

              if (places.length == 0) {
                return;
              }

              markers.forEach(function(marker) {
                marker.setMap(null);
              });
              markers = [];

              var bounds = new google.maps.LatLngBounds();
              places.forEach(function(place) {
                if (!place.geometry) {
                  console.log("Returned place contains no geometry");
                  return;
                }
                var icon = {
                  url: place.icon,
                  size: new google.maps.Size(71, 71),
                  origin: new google.maps.Point(0, 0),
                  anchor: new google.maps.Point(17, 34),
                  scaledSize: new google.maps.Size(25, 25)
                };

                markers.push(new google.maps.Marker({
                  map: map,
                  icon: icon,
                  title: place.name,
                  position: place.geometry.location
                }));

                if (place.geometry.viewport) {

                  bounds.union(place.geometry.viewport);
                } else {
                  bounds.extend(place.geometry.location);
                }
              });
              map.fitBounds(bounds);
            });

              // Try HTML5 geolocation.
           if (navigator.geolocation) {
             navigator.geolocation.getCurrentPosition(function(position) {
               var pos = {
                 lat: position.coords.latitude,
                 lng: position.coords.longitude
               };

               infoWindow.setPosition(pos);
               infoWindow.setContent('Location found.');
               infoWindow.open(map);
               map.setCenter(pos);
             }, function() {
               handleLocationError(true, infoWindow, map.getCenter());
             });
           } else {
             // Browser doesn't support Geolocation
             handleLocationError(false, infoWindow, map.getCenter());
           }
         }

         function handleLocationError(browserHasGeolocation, infoWindow, pos) {
           infoWindow.setPosition(pos);
           infoWindow.setContent(browserHasGeolocation ?
                                 'Error: The Geolocation service failed.' :
                                 'Error: Your browser doesn\'t support geolocation.');
           infoWindow.open(map);
         }

          </script>
          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnzCtZmcSh7tPb0DkFdtXTUOBsDXbXSiU&libraries=places&callback=initAutocomplete" async defer></script>

        <h1>Comments</h1>
        {% for message in content %}
          <p>{{ message.content }}<p>
        {% endfor %}

           <div class=margin_left><form action="/personal_hobby" method="post">
             <textarea rows="6" cols="80" type="text" name="content" placeholder="Your comment goes here..."></textarea>
             <input type="hidden" name="name" value="{{name}}">
             <br><input type="submit" value="Post"> </div>
           </form>
      <footer>
          <p>&copy; T.R.B.L. 2017</p>
      </footer>
  </body>
</html>
