<!DOCTYPE html>
<html>
    <head>
        <title>Hobyn</title>
        <link rel="stylesheet" href="styles/home.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="scripts/home.js"></script>
    </head>
    <body>
      <h1> Hobyn </h1>
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/form">Take the test!</a>
            <a href="/all_hobbies">Browse All Hobbies</a>
            <a href="/user_profile" class="profile">Profile</a>
        </div>

        <div class="column" id="random">
          <p> Get a Randomized Hobby!</p> </div>
        <div class="column" id="taketest">
          <p> Take the Personality Test!</p> </div>

      <footer>
        &copy; T.R.B.L. 2017
      </footer>
    </body>

</html>
