<!DOCTYPE html>
<html>
    <head>
        <title>Hobyn</title>
        <link rel="stylesheet" href="styles/home.css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Cantata+One' rel='stylesheet'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script src="scripts/home.js"></script>
        <meta name="google-signin-client_id" content="268919263093-fv5ta94qcn9qdu7gmvmid6h2ht6bur8n.apps.googleusercontent.com">
    </head>
    <body>

      {% include "nav.html" %}

        <div class="column" id="random">
          <img src="/styles/Images/001.jpg">
          <p>Get a Randomized Hobby!<br><input type="button" onclick="runme()" class="fab" value=Go!></p>
        </div>
        <div class="column" id="taketest">
          <img src="/styles/Images/002.jpg">
          <p>Take the Personality Test!<br>
            <a href="/personality_test"><button class="fab">Go!</button></a></p>
        </div>

      <footer>
        &copy; T.R.B.L. 2017
      </footer>
    </body>

</html>
