<link rel="stylesheet" href="styles/title.css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Cantata+One' rel='stylesheet'>
  <center>
    <a class="title" href="/">hobyn</a>
  </center>

<div class="topnav">
    <a href="/">Home</a>
    <a href="/personality_test">Take the test!</a>
    <a href="/all_hobbies">Browse All Hobbies</a>
    <a href="/user_profile" class="profile">Hobbies Recommendation</a>
    <a href="/about_us">About Us</a>
    {{greeting}}
</div>
