<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Personality Test</title>
    <link rel="stylesheet" href="styles/personality_test.css">
  </head>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/personality_test">Take the test!</a>
      <a href="/all_hobbies">Browse All Hobbies</a>
      <a href="/user_profile" class="profile">Profile</a>
    </div>

  <div class=whitespace>
    <h1>Personality Test</h1>
    <form action= "/PersonalityTestHandler" method="get">
        <div>
            {% for question in questions %}
            <div>
                <label class='field'>{{question.question_text}}</label><br>
                <label><input class="N" type="radio" name="answer">{{question.N_option}}</label><br>
                <label><input class="O" type="radio" name="answer">{{question.O_option}}</label><br>
                <label><input class="A" type="radio" name="answer">{{question.A_option}}</label><br>
                <label><input class="C" type="radio" name="answer">{{question.C_option}}</label><br>
                <label><input class="E" type="radio" name="answer">{{question.E_option}}</label><br>
            </div><br>
            {%endfor%}
        </div>
    </form>
  </div>
    

  </body>
</html>
