<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Personality Test</title>
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <link rel="stylesheet" href="styles/personality_test.css">
  </head>
  <body>

    {% include "nav.html" %}

  <div class=whitespace>
    <h1>Personality Test</h1>
    <form action= "/user_profile" method="post">
        <div>
            {% for question in questions %}
            {% set index= questions.index(question)%}
            <div>
                <fieldset id="{{index}}">
                    <label class='field'>{{question.question_text}}</label><br>
                    <label><input value="N" type="radio" name="answer_{{index}}">{{question.N_option}}</label><br>
                    <label><input value="O" type="radio" name="answer_{{index}}">{{question.O_option}}</label><br>
                    <label><input value="A" type="radio" name="answer_{{index}}">{{question.A_option}}</label><br>
                    <label><input value="C" type="radio" name="answer_{{index}}">{{question.C_option}}</label><br>
                    <label><input value="E" type="radio" name="answer_{{index}}">{{question.E_option}}</label><br>
                </fieldset>
            </div><br>
            {%endfor%}
        </div>
        <input type="submit">
    </form>
  </div>

  <footer>
    &copy; T.R.B.L. 2017
  </footer>

  </body>
</html>
