<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Creator</title>
  </head>
  <body>
      <h1> pre_create_question</h1>
    <form action="/make_question" method="post">
      <p>
        Question:<input type="text" name="question_text">
      </p>
      <p>
        N-Option:<input type="text" name="N_option">
      </p>
      <p>
        O-Option:<input type="text" name="O_option">
      </p>
      <p>
        A-Option:<input type="text" name="A_option">
      </p>
      <p>
        C-Option:<input type="text" name="C_option">
      </p>
      <p>
        E-Option:<input type="text" name="E_option">
      </p>
      
      <p>
        <input type='submit'>
      </p>
    </form> 
  </body>
</html>