body {
  background-color: #e6ecf0;
  margin: 0;
  height: 100;
}

footer {
  border-top: 2px solid black;
  margin-top: 5px;
  font-style: italic;
  font-size: 12px;
  color: black;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
}

.column{
    display:inline-block;
    border-right:3px solid black;
    border-left:3px solid black;
    width:50%;
    height:50%;
    position:absolute;
    text-align: center;
	  background:linear-gradient(10deg, rgba(244,235,160,1) 43%,rgba(192,250,202,1) 43%);
}

p {
  font-family: Georgia;
	text-transform: uppercase;
	font-size: 50px;
	text-align: center;
	line-height: 1;
	margin: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
  text-shadow: 5px 5px 4px white;
}

#taketest{
    left:50%;
}

.profile{
    left:25%;
}

.topnav {
    background-color: #aed0e8;
    overflow: hidden;
    display: block;
    color: black;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 21px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover {
    background-color: #6bb3e5;
    color: black;
}

.topnav a.active {
    background-color: #0e517f;
    color: white;
}

.fab{
  text-decoration: none;
  color:black;
  font-family:Georgia;
  font-size: 20px;
  background-color: #b3ffb3;
  border:none;
  border-radius:54px;
  margin: 15px;
  padding:10px;
  width:100px;
  box-shadow: 0px 10px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.fab:hover{
  text-decoration: none;
  background-color: #aed0e8;
  box-shadow: 0px 15px 20px rgba(173, 216, 230, 0.3);
  color: #000;
  transform: translateY(-7px);
}

div.profilecard {
  background-color: white;
}

.log {
  margin-right: 5px;
  margin-top: 5px;
  float: right;
}

.user_pic {
  margin-right:10px;
  float:right;
  border-radius: 50px;
}

a.logout {
  font-size: 15px;
  padding:3px;
  margin-left:55px;
  color:black;
}
