body {
  background-color: #e6ecf0;
  margin: 0;
  height: 100;
}

footer {
  border-top: 2px solid black;
  margin-top: 20px;
  padding-top: 10px;
  font-style: italic;
  font-size: 12px;
  color: black;
}

.column{
    background-color: #9dc3dd;
    display:inline-block;
    border-right:3px solid black;
    border-left:3px solid black;
    width:50%;
    height:100%;
    position:absolute;
}
#right{
    left:50%;
}

.profile{
    left:25%;
}

/*
div.social{
    display:block;
    background-color:red;
    height:90px;
    width:50%;
}
nav{
    display:block;
    height:160px;
    border-bottom: 5px solid blue;

}
nav>a {
    text-align: center;
    font-size:50px;
    text-decoration: none;
    background-color:yellow;
    display:inline-block;
    margin:0px;
    width:25%;
    height:70px;
    padding-top:px;
    position:absolute;
    top:90px;
}

nav #Home {
    font-size:40px;
    display:inline-block;
    position:absolute;
    top:0px;
    left:50%;
    background-color:green;
    height:160px;
    width:50%;
}
#Home h1{
    padding 0px;
}

.tap{
    background-color:yellow;
    text-align: center;
    transform: rotate(-90deg);
	transform-origin: left top 0;
    display:block;
    width:100px;
    height:50px;
    position:fixed;
    top:265px;
    right:-50px;
}
#sidebar {
    background-color:white;
    width:33.3%;
    height:100%;
    position:absolute;
    right:0%;
    display:none;
}

#map{
    height:400px;
    border:10px solid rgb(210,245,254);
    border-radius:10px;
}*/
