.topnav {
    background-color: #aed0e8;
    overflow: hidden;
    display: block;
    color: black;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover {
    background-color: #6bb3e5;
    color: black;
}

.topnav a.active {
    background-color: #0e517f;
    color: white;
}

body {
  background-color: #e6ecf0;
  margin: 10px;
  height: 100;
}

footer {
  border-top: 2px solid black;
  margin-top: 20px;
  padding-top: 10px;
  font-style: italic;
  font-size: 12px;
  color: black;
}

.whitespace {
   width: 80vw;
   margin: 5px auto 0 auto;
   background-color: #b7d2e5;
   padding: 2px 3% 30px 3%;
  }

h1 {
  text-align: center;
}
