.title:link{
  font-family: Kaushan Script;
  font-size: 55px;
  letter-spacing: 3px;
  text-shadow: 1px 2px 5px black;
}

.title:visited, .title:active{
  color: #F9BE04;
  text-decoration: #04B6F9 underline;
}
