h1{
  font-family: Nunito;
  text-align: center;
  font-size: 40px;
}

.user_info{
  border: 1px solid black;
  border-radius:20px;
  width: 30%;
  margin: 20px;
  padding: 10px;
  float:left;
  display: inline-block;
}

.description {
  border-radius: 20px;
  float: right;
  padding: 10px;
  width: 55%;
  min-height: 300px;
  min-width: 300px;
  border: 1px solid black;
  margin-right: 30px;
  display: inline-block;
  margin-bottom: 20px;
}

body {
  background-color: #e6ecf0;
  margin: 10px;
  height: 100px;
}

footer {
  border-top: 2px solid black;
  font-style: italic;
  font-size: 12px;
  color: black;
  clear: both;
}

img {
  margin: 5px;
  border-radius: 20px;
}

.topnav {
    background-color: white;
    overflow: hidden;
    display: block;
}

.topnav a {
    float: left;
    display: block;
    color: #6bb3e5;
    text-align: center;
    padding: 21px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover {
    background-color: #6bb3e5;
    color: black;
}

.topnav a.active {
    background-color: #0e517f;
    color: white;
}

div.userbio {
  width: 50px;
  height: 100px;
  overflow: scroll;
}

div.username{
  position: relative;
  display: inline-block;
  vertical-align: top;
}
